.posts{
    list-style: none;
    margin: 0px;

}

.post{
     margin: 1 rem 0px;
     a{
         padding: 1px;
         background-color: blue;
         color: black;
         display: block;
         text-decoration: none;
         text-align: center;
     }
     a:hover{
         background: orange;
        }    
}